@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ms+Madi&family=Yellowtail&display=swap');

@font-face {
    font-family: "Dreaming Outloud";
    src: url(../assets/Fonts/dreaming-outloud-script.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: #849bff;
    font-size: 12vh;
    text-align: center;
    font-family: "Dreaming Outloud", sans-serif;
}

h2{
    font-size: 5vh;
    margin: 7vh;
    font-family: "Montserrat", sans-serif;
    text-decoration: underline;
    text-align: center;
}

section h2 {
    color: #ffa15b;
    font-size: 8vh;
    text-align: center;
    align-self: center;
    font-family: "Montserrat", sans-serif;
}

h3{
    font-size: 40px;
    margin: 30px;
    font-family: "Ms Madi", cursive;
    text-decoration: underline;
}

section h6 {
    font-size: 1vw;
    margin: 20px;
    text-decoration-style: solid;
    text-decoration-line: underline;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
}

body {
    background-color: #fffcf7;
}

p {
    margin: 30px;
    font-size: 3vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
}

header {
    nav {
        div.boton_menu {
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: space-around;
        }
    }
}